<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#" method="post">
        <input type="text" placeholder="Digite o seu E-mail" id="email" name="email" required>
        <input type="password" placeholder="Digite a sua senha" id="senha" name="senha" required>
        
       <input type="submit" class="button" value="Entrar">
      </form>
      <div class="signup">
        <span class="signup" >Você não tem conta?
         <label for="check"><a routerLink="/cadastro">Inscrever-se</a></label>
        </span>
      </div>
    </div>
    </div>
